{% extends '::base.html.twig' %}
{%block page_header%}Maestro de Agencias{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/jquery-ui-1.9.2.custom.css') }}" />
<link rel="stylesheet" href="{{ asset('css/jquery-ui-1.10.0.custom.css') }}" />
<link rel="stylesheet" href="{{ asset('css/ui.jqgrid.css') }}" />

{% endblock %}
{% block body -%}
    <a href="{{ path('agencia_new') }}" class="btn btn-primary">
               <i class="icon-white icon-file"></i>
               Crear Nueva
    </a>
    <!--
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Contacto</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.contacto }}</td>
                <td><a href="{{ path('agencia_edit', { 'id': entity.id }) }}"><i class="icon-pencil"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    -->
    <p></p>
    <table id="list">
    </table>
    <div id="pager">
    </div>
    <div id="botoneraTemplate"  style="display:none;"><a rel="tooltip" title="Editar Agencia" href="{{ path('agencia_edit', {'id': '__id'}) }}" class="btn btn-primary btn-mini"><i class="icon-pencil icon-white"></i></a><a href="{{path('agencia_show',{'id': '__id'}) }}" rel="tooltip" class="btn-mini btn btn-success btn-default" data-toggle="tooltip" title="Borrar Agencia"><i class="icon-trash icon-white"></i></a></div>
    
{% endblock %}
{% block javascripts %}
	<script type="text/javascript" src="{{asset('js/jqgrid/js/jquery.jqGrid.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('js/jqgrid/js/i18n/grid.locale-es.js')}}"></script>
	<script>
		$(document).ready(function(){
			$("#list").jqGrid({
				url:"{{path('agencia_list')}}",
				datatype:"json",
				colNames:['Nombre','E-mail','Contacto','Acciones'],
				colModel:[
					{name:'nombre',index:'nombre',width:300,align:"center",search:true},
					{name:'email',width:300,align:"center",search:false},
					{name:'contacto',width:300,align:"center"},
					{name:'acciones',width:160,jsonmap:"id",align:'center',formatter:botonera,search:false,sortable:false},
				],
				pager:"#pager",
				gridview:true,
				rowList:[10,20,50],
				viewrecords:true,
				rownumbers:true,
				viewsortcols:[true,'horizontal',true],
				height:'100%',
			});
			$("#list").jqGrid('filterToolbar',{stringResult: true,searchOnEnter : false, defaultSearch:'cn'});
			});
			function botonera(cellvalue, options, rowObject)
			{
                	var html=$("#botoneraTemplate").html();
                	html=html.replace(/__id/g,cellvalue);
		        	return html;
		    }
		    $('body').on('mouseover','[rel=tooltip]',function(){$(this).tooltip('show'); });
	
	</script>
{%endblock%}
