{% extends "::base.html.twig" %}
{% block body %}
<div class="container">
    <div class="well  span3 offset4" >
        {% if error %}
            <div class="alert alert-error">{{ error }}</div>
        {% endif %}
        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <div>
            <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
            </div>
            <div>
            <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
            <input type="password" id="password" name="_password" />
            </div>
            <div>
            <p><input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</p>
            </div>
            <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
        </form>
    </div>
</div>
{% endblock %}
