


                <button class="btn btn-small" id="btn-nueva-hija" type="button"><i class='icon-plus'></i>Guias Hija</button>
                <a href="javascript:void(0);" class="btn btn-small btn-primary"  onClick="saveHijas(this);" hija_id="{{entity.id}}" ><i class="fa fa-check-circle"></i>Guardar</a>
                <table id="tbl-hijas">
                    {%for hijas in entity.hijas%}
                 <tr>
                <td><a href="javascript:void(0);"  onClick="borrarHija(this);" hija_id="{{hijas.id}}" ><i class="icon-trash"></i></a></td>
                <td><span id="guiaHija|{{hijas.id}}" title="Click para cambiar ">{{hijas.guiaHija}}</td>
                 </tr>
                 {%endfor%}
                </table>


{%block javascripts%}

<script>

    $(document).ready(function(){

    $("span[id^=guiaHija]").editable("{{path('editHijajei')}}",{
			indicator:'<i class="fa fa-refresh fa-spin"></i>',
			tooltip:"Editar Valor",
			onblur: "submit",
            width:'200px', // THIS DOES THE TRICK
            height:"16px", //THIS DOES THE TRICK

		});

    var tr_hijas='<tr><td><a href="#" class="delete"><i class="icon-trash"></i></a></td><td><input type="text" name="guiaHija[]" id="guiaHija[]" placeholder="Guia Hija"/></td></tr>';
                $("#tbl-hijas").append(tr_hijas);
                $("#btn-nueva-hija").click(function(){
                        $("#tbl-hijas").append(tr_hijas);
                });

                $(".delete").live('click', function(event) {
                        $(this).parent().parent().remove();
                });
        });

    function borrarHija(el){
   			path= "{{path('guiaHija_delete',{id:'__id'})}}".replace('__id',$(el).attr('hija_id'));
   			$.post(path,{ _method:'DELETE'},function(data){
   				data = $.parseJSON(data);
   				$("#detalleHija").load("{{path('edit_guiasHija',{ 'id': entity.id })}}");
   			});
   		}
    function saveHijas(el){
            var hijas = $("input[name='guiaHija[]']").map(function(){return $(this).val();}).get();
   			path= "{{path('guiaHija_save',{id:'__id'})}}".replace('__id',$(el).attr('hija_id'));
   			$.post(path,{ _method:'POST',guiaHija:hijas},function(data){
   				data = $.parseJSON(data);
   				$("#detalleHija").load("{{path('edit_guiasHija',{ 'id': entity.id })}}");
   			});
   		}

</script>
{%endblock%}
