{% extends '::base.html.twig' %}
{%block page_header%}Reservas{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/jquery-ui-1.9.2.custom.css') }}" />
<link rel="stylesheet" href="{{ asset('css/jquery-ui-1.10.0.custom.css') }}" />
<link rel="stylesheet" href="{{ asset('css/ui.jqgrid.css') }}" />

{% endblock %}

{% block body -%}
	<div class="modal fade" id="modal_process"tabindex="-1" role="doalog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h2 class="modal-title" id="myModalLabel">Procesar Reserva</h2>
				</div>
				<div class="modal-body"></div>
				<div class="modal-footer">
					<button class="btn btn-primary" data-dismiss="modal"
					onclick="
					$('#frm_new_process').submit();
					">Procesar</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal_confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Confirmar Reserva</h4>
				</div>
				<div class="modal-body">
					<p>
						Desea confirmar esta reserva?
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal"
					onclick="
					var jqxhr=$.post($('#reserva_confirm'+current_record).data('url'));
					jqxhr.done(function(){
						alert('Reserva confirmada');
						$('#list').trigger('reloadGrid');
					});
					jqxhr.fail(function(){
						alert('No se confirmo la reserva');
					});
					
					">Confirmar</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
    <a href="{{ path('reserva_new') }}" class="btn btn-primary">
        <i class="icon-white icon-file"></i>
                Crear Nueva Reserva
            </a>

    <table id="list">
    </table>
    <div id="pager">
    </div>
    <div id="botoneraTemplate"  style="display:none;"><a id="reserva_confirm__id" rel="tooltip" title="Confirmar Reserva" data-toggle="tooltip" href="javascript:void(0);" data-url="{{path('reserva_confirm',{'id':'__id'})}}" onclick="current_record=__id;$('#modal_confirm').modal();"class="btn btn-success btn-mini tip"><i class="icon-ok icon-white"></i></a><a rel="tooltip" data-toggle="tooltip" title="Editar Reserva" href="{{ path('reserva_edit', {'id': '__id'}) }}" class="btn btn-primary btn-mini tip"><i class="icon-pencil icon-white"></i></a><a href="{{path('reserva_process',{'id':'__id'})}}" data-toggle="modal" data-target="#modal_process" rel="tooltip" title="procesar reserva" class="btn btn-warning btn-mini"><i class="icon-cog icon-white"></i></a><a href="javascript:void(0)" style="color:white" onclick="anular('__id');" rel="tooltip" class="btn btn-mini btn-danger" data-toggle="tooltip" title="Anular"><i class="icon-remove icon-white"></i></a> </div>

    <div id="anularModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h4 id="editarTarLabel" style="text-align:center;">Anular Reserva</h4>
	</div>
	<div class="modal-bodyCot">
		<p>One fine body…</p>
	</div>
    </div>
    {% endblock %}
{% block javascripts %}
	<script type="text/javascript" src="{{asset('js/jqgrid/js/jquery.jqGrid.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('js/jqgrid/js/i18n/grid.locale-es.js')}}"></script>
	<script>
		$('#modal_process').on('hidden', function() {
			$(this).removeData('modal');
		});
		var current_record;
		$(document).ready(function(){
			$('body').on('mouseover','[rel=tooltip]',function(){$(this).tooltip(); });
			$('body').on('mouseover','[rel=tooltip]',function(){$(this).tooltip('show'); });
			$("#list").jqGrid({
				url:"{{path('reserva_grid')}}",
				datatype:"json",
				colNames:['Cliente','Agencia','Aerol&iacute;nea','Fecha Servicio','Hora Servicio','Gu&iacute;a Master','Temperatura','Notas','Piezas','FBE','Estado','Acciones'],
				colModel:[
					{name:'cliente',index:'cliente',width:180,align:"center",search:true},
					{name:'agencia',width:80,align:"center",search:true},
					{name:'aerolinea',width:80,align:"center",search:true},
					//{name:'creadoPor',width:100,align:"center",search:false},
					{name:'fecha_s',width:80,align:"center"},
					{name:'hora_s',width:80,align:"center"},
					{name:'guiam',width:100,align:"center"},
					{name:'temperatura',width:60,align:"center",search:false},
					//{name:'contacto',width:100,align:"center"},
					{name:'notas',width:100,align:"center"},
					{name:'piezas',width:80,align:"center"},
					{name:'fbe',width:50,align:"center"},
					{name:'status',width:50,formatter:confirmar,search:false,align:'center'},
					{name:'acciones',width:140,jsonmap:"id",align:'center',formatter:botonera,search:false,sortable:false},
				],
				pager:"#pager",
				gridview:true,
				rowList:[10,20,50],
				viewrecords:true,
				viewsortcols:[true,'horizontal',true],
				height:'100%',
			});
			$("#list").jqGrid('filterToolbar',{stringResult: true,searchOnEnter : false, defaultSearch:'cn'});
			});
			function botonera(cellvalue, options, rowObject)
			{
                	var html=$("#botoneraTemplate").html();
                	html=html.replace(/__id/g,cellvalue);
		        	return html;
		    }
			function confirmar(cellvalue,options,rowObject)
			{
				if (cellvalue=="Nuevo")
					return '<div class="btn btn-info btn-mini"><i class="icon-white icon-file"></i></div>';
				if(cellvalue=="Confirmado")
					return '<div class="btn btn-success btn-mini"><i class="icon-white icon-ok"></i></div>';
				if(cellvalue=="Procesado")
					return '<div class="btn btn-primary btn-mini"><i class="icon-white icon-cog"></i></div>';
				return '<div class="btn btn-danger btn-mini"><i class="icon-white icon-remove"></i></div>';
			}
		 function tip(el){   
			$(el).tooltip();
		 }
        function anular(id){

	 		$("#anularModal div.modal-bodyCot").empty().load("{{path('reserva_anularModal')}}",{id:id});
	 		$("#anularModal").modal('show');
	 		$("#anularModal").on('shown', function(){
			$(this).css({
				'width':'310px',
			    'margin-top': function () { //vertical centering
			        return -($(this).height() / 2);
			    },
			    'margin-left': function () { //Horizontal centering
			        return -($(this).width() / 2);
			    }
			});
 		});
 	}
	
	</script>
{%endblock%}
