{% extends '::base.html.twig' %}
{%block page_header%}Nueva Reserva{% endblock %}
{%block stylesheets%}
     {{ form_stylesheet(form) }}
     <link rel="stylesheet" href="{{ asset('css/jquery.timepicker.css') }}"/>
{% endblock %}
{% block body -%}
    <form action="{{ path('reserva_create') }}" method="post" {{ form_enctype(form) }} novalidate=novalidate>
        <table class="table">
            <tr>
                
                <td><label>Cliente</label>
                    {% if is_granted('ROLE_CUSTOMER') %}
                        <h4>{{entity.cliente.nombre}}</h4>
                        <div style="display: none">{{ form_widget(form.cliente) }}</div>
                    {%else%}
                        {{ form_widget(form.cliente) }}
                    {%endif%}
                </td>
                <td><label>Fecha de Servicio:</label>{{ form_widget(form.fechaServicio) }}
                	<label>Sucursal Requerida:</label>{{ form_widget(form.sucursal) }}
                </td>
                <td><label>Hora de Servicio:</label><div class="bootstrap-timepicker">
					{{ form_widget(form.horaString) }}</div>
					 <label>Clasificacion:</label>{{ form_widget(form.clasificacion) }}
				</td>
            </tr>
            <tr>
                <td><label>Guia Master:</label>{{ form_widget(form.guiaMaster) }}
                <label>Temperatura Requerida:</label>{{ form_widget(form.temperaturaRequerida) }}
                <label>Numero de Palet:</label>{{ form_widget(form.noPalet) }}</td>
                <td><button class="btn btn-small" id="btn-nueva-hija" type="button"><i class='icon-plus'></i>Guias Hija</button>
                <table id="tbl-hijas">

                </table>
                </td>
            </tr>
            <tr></tr>
            <tr>
                <td><a a href="javascript:void(0)" onclick="crearContacto();" rel="tooltip" title="Crear Nuevo Contacto"> <i class="icon-plus-sign"></i></a><label>Contacto Aerolinea:</label>{{ form_widget(form.contactoAerolinea,{'attr':{'placeholder':'Nombre y numero de celular de la persona de la agencia en el aeropuerto'}}) }}</td>
                <td><label>Contacto Agencia:</label>{{ form_widget(form.contactoAgencia,{'attr':{'placeholder':'Nombre y numero de celular de la persona de la agencia en el aeropuerto'}}) }}</td>
                <td><label>Contacto Cliente:</label>{{ form_widget(form.contactoCliente,{'attr':{'placeholder':'Nombre y numero de celular de la persona de la agencia en el aeropuerto'}}) }}</td>
            </tr>
            <tr>
                <td><label>Agencia:</label>{{ form_widget(form.agencia) }}</td>
                <td><label>Aerolinea:</label>{{ form_widget(form.aerolinea) }}</td>
                <td><label>Notas:</label>{{ form_widget(form.notas) }}</td>
            </tr>
            <tr>

            </tr>
        </table>
        {{form_rest(form)}}
        {{form_errors(form)}}
        <h3>Productos</h3>
        <button class="btn btn-small" id="btn-nuevo-producto" type="button"><i class='icon-plus'></i> Agregar Producto</button>
        <table id="tbl-productos">
            <tr>
                <th></th>
                <th>Producto</th>
                <th>Piezas</th>
                <th>FBE</th>
            </tr>
        </table>
        
        
        <br clear="all" />
        <p>
            <button type="submit" class="btn btn-primary">Crear</button><a href="{{ path('reserva') }}" class="btn">
            Cancelar
        </a>
        </p>
    </form>

    <div id="crearContactoModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="editarLabel">Nuevo Contacto</h3>
	</div>
	<div class="modal-body">
		<p>One fine body…</p>
	</div>
	<div class="modal-footer">
				<button class="btn" data-dismiss="modal">Cancelar</button>
				<button id="save-contacto" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
			</div>
    </div>
{% endblock %}
{% block javascripts%}
    {{form_javascript(form)}}

    <script>
        function crearContacto(){
            $("#crearContactoModal div.modal-body").empty().load();
            $("#crearContactoModal").modal('show');
            $("#crearContactoModal").on('shown', function(){
                $(this).css({
                    'width':'350px',
                    'margin-top': function () { //vertical centering
                        return -($(this).height() / 4);
                    },
                    'margin-left': function () { //Horizontal centering
                        return -($(this).width() / 4);
                    }
                });
            });
        }
        $(document).ready(function(){

    $("#vc_reservasbundle_reservatype_clasificacion").select2({
                placeholder: "Tipo de Servicio",
                width: "120px",
                allowClear: true
                });

                var tr_producto='<tr><td><a href="#" class="delete"><i class="icon-trash"></i></a></td><td><input type="text" name="producto_nombre[]" id="producto_nombre[]" placeholder="Nombre Producto"/></td><td><input type="text" name="producto_piezas[]" id="producto_piezas[]" placeholder="0" dir="rtl" class="input-small"/></td><td><input type="text" name="producto_fbe[]" id="producto_fbe[]" placeholder="0" dir="rtl" class="input-small"/></td></tr>';
                $("#tbl-productos").append(tr_producto);
                $("#btn-nuevo-producto").click(function(){
                        $("#tbl-productos").append(tr_producto);
                });

                var tr_hijas='<tr><td><a href="#" class="delete"><i class="icon-trash"></i></a></td><td><input type="text" name="guiaHija[]" id="guiaHija[]" placeholder="Guia Hija"/></td></tr>';
                $("#tbl-hijas").append(tr_hijas);
                $("#btn-nueva-hija").click(function(){
                        $("#tbl-hijas").append(tr_hijas);
                });
                
                $(".delete").live('click', function(event) {
                        $(this).parent().parent().remove();
                });

              $('#vc_reservasbundle_reservatype_horaServicio').timepicker({
				  showInputs:false,
				  
				  minuteStep:1
				  });

            });
        
    </script>
{% endblock%}
