{% extends '::base.html.twig' %}
{%block page_header%}Maestro de Clientes{% endblock %}
{% block body -%}
    <a href="{{ path('cliente_new') }}" class="btn btn-primary ">
                <i class="icon-white icon-file"></i>
                Crear nuevo
            </a>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Direcci&oacute;n</th>
                <th>Tel&eacute;fono</th>
                <th>Email</th>
                <th>Contacto</th>
                <th>Nit</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('cliente_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.direccion }}</td>
                <td>{{ entity.telefono }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.contacto }}</td>
                <td>{{ entity.nit }}</td>
                <td><a href="{{ path('cliente_edit', { 'id': entity.id }) }}"><i class="icon-pencil"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
